In [12]:
import pandas as pd

df = pd.read_csv("Housing (1).csv")

print("Rows:", df.shape[0], "Col:", df.shape[1])

Rows: 545 Col: 13

In [15]:
num_col = df.select_dtypes(include=['number']).columns
print(list(num_col))

['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'parking']

In [16]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [19]:
import pandas as pd



data = {
    'Emp': ['Tejas', 'ABC', 'XYZ'],
    'sal': [500, 4000, 112]
}

df = pd.DataFrame(data)
df

avg = df.groupby('Emp')['sal'].avg()
avg

AttributeError: 'SeriesGroupBy' object has no attribute 'avg'

In [ ]:
import pandas as