In [2]:
import sqlite3
conn = sqlite3.connect('student.db')
cursor = conn.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS students (
                    name TEXT,
                    roll_number TEXT UNIQUE,
                    sap_id TEXT UNIQUE,
                    program TEXT,
                    semester INTEGER,
                    marks INTEGER,
                    result TEXT CHECK(result IN('Pass','Fail'))
                )''')
conn.commit()

In [3]:
cursor.execute("INSERT INTO students (name, roll_number, sap_id, program, semester, marks, result) VALUES (?, ?, ?, ?, ?, ?, ?)", 

    ('John Doe', 111, 'SAP011', 'B.Tech', 2, 88, 'Pass'))

In [4]:
cursor.execute("SELECT * FROM students")
students=cursor.fetchall()
print("Student: ",students)

Student:  [('John Doe', '111', 'SAP011', 'B.Tech', 2, 88, 'Pass')]

In [5]:
cursor.execute("UPDATE students SET marks=?,result=? where roll_number=?",(60,'Pass',111))
conn.commit()
cursor.execute("SELECT * FROM students")
students=cursor.fetchall()
print("updated Student: ",students)

updated Student:  [('John Doe', '111', 'SAP011', 'B.Tech', 2, 60, 'Pass')]

In [6]:
cursor.execute("DELETE from students where roll_number=?",(111,))
conn.commit()
cursor.execute("SELECT * FROM students")
students=cursor.fetchall()
print("After deletion Student: ",students)
conn.close()

After deletion Student:  []

In [7]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('stud.db')
cursor = conn.cursor()

# Create table if it doesn't exist
cursor.execute('''CREATE TABLE IF NOT EXISTS student_records (
                    name TEXT,
                    roll_number TEXT UNIQUE,
                    sap_id TEXT UNIQUE,
                    program TEXT,
                    semester INTEGER,
                    marks INTEGER,
                    result TEXT CHECK(result IN('Pass', 'Fail'))
                )''')
conn.commit()

# Take user input for number of students
num_students = int(input("Enter number of students: "))

for i in range(num_students):
    name = input("Enter name: ")
    roll_number = input("Enter roll number: ")
    sap_id = input("Enter SAP ID: ")
    program = input("Enter program: ")
    semester = int(input("Enter semester: "))
    marks = int(input("Enter marks: "))

    # Assign "Pass" or "Fail" automatically based on marks
    result = "Pass" if marks >= 50 else "Fail"

    # Insert data into the table
    cursor.execute("INSERT INTO student_records (name, roll_number, sap_id, program, semester, marks, result) VALUES (?, ?, ?, ?, ?, ?, ?)", 
                   (name, roll_number, sap_id, program, semester, marks, result))
    conn.commit()
    print(f"Student {name} added successfully!")

# Close the connection
conn.close()

Enter number of students:  2
Enter name:  tejas
Enter roll number:  46
Enter SAP ID:  16
Enter program:  mca
Enter semester:  2
Enter marks:  99

Student tejas added successfully!

Enter name:  vaibh
Enter roll number:  33
Enter SAP ID:  16
Enter program:  mca
Enter semester:  2
Enter marks:  99

IntegrityError: UNIQUE constraint failed: student_records.sap_id

In [8]:
import sqlite3
 
# Function to connect to the database and create the table if it doesn't exist

def create_table():

    conn = sqlite3.connect('students.db')

    cursor = conn.cursor()

    cursor.execute('''CREATE TABLE IF NOT EXISTS students (

                         id INTEGER PRIMARY KEY AUTOINCREMENT,

                         name TEXT,

                         roll_number TEXT UNIQUE,

                         sap_id TEXT UNIQUE,

                         program TEXT,

                         semester INTEGER,

                         marks INTEGER,

                         result TEXT CHECK(result IN('Pass', 'Fail'))

                         )''')

    conn.commit()

    return conn, cursor
 
def insert_student(cursor, conn, name, roll_number, sap_id, program, semester, marks, result):

    cursor.execute("INSERT INTO students (name, roll_number, sap_id, program, semester, marks, result) VALUES (?, ?, ?, ?, ?, ?, ?)", 

                   (name, roll_number, sap_id, program, semester, marks, result))

    conn.commit()

    print("Student record inserted successfully!")
 
def get_student_input():

    print("Enter student details:")
 
    name = input("Name: ")

    roll_number = input("Roll Number: ")

    sap_id = input("SAP ID: ")

    program = input("Program (e.g., MCA, BTech): ")

    semester = int(input("Semester (e.g., 1, 2, 3...): "))

    marks = int(input("Marks: "))

    result = input("Result (Pass/Fail): ").capitalize()
 
    while result not in ['Pass', 'Fail']:

        print("Invalid result. Please enter 'Pass' or 'Fail'.")

        result = input("Result (Pass/Fail): ").capitalize()

    return name, roll_number, sap_id, program, semester, marks, result
 
def update_student(cursor, conn):

    roll_number = input("Enter the roll number of the student you want to update: ")

    cursor.execute("SELECT * FROM students WHERE roll_number = ?", (roll_number,))

    student = cursor.fetchone()

    if student:

        print(f"Current data for roll number {roll_number}: {student}")

        field_to_update = input("Which field would you like to update? (marks/result): ").lower()

        if field_to_update == 'marks':

            new_marks = int(input("Enter the new marks: "))

            cursor.execute("UPDATE students SET marks = ? WHERE roll_number = ?", (new_marks, roll_number))

        elif field_to_update == 'result':

            new_result = input("Enter the new result (Pass/Fail): ").capitalize()

            while new_result not in ['Pass', 'Fail']:

                print("Invalid result. Please enter 'Pass' or 'Fail'.")

                new_result = input("Enter the new result (Pass/Fail): ").capitalize()

            cursor.execute("UPDATE students SET result = ? WHERE roll_number = ?", (new_result, roll_number))

        else:

            print("Invalid field choice. Please enter 'marks' or 'result'.")

            return
 
        conn.commit()

        print("Student data updated successfully!")

    else:

        print("Student with that roll number not found.")
 
def delete_student(cursor, conn):

    roll_number = input("Enter the roll number of the student you want to delete: ")
 
    cursor.execute("SELECT * FROM students WHERE roll_number = ?", (roll_number,))

    student = cursor.fetchone()

    if student:

        cursor.execute("DELETE FROM students WHERE roll_number = ?", (roll_number,))

        conn.commit()

        print(f"Student with roll number {roll_number} deleted successfully!")

    else:

        print("Student with that roll number not found.")
 
def display_all_students(cursor):

    cursor.execute("SELECT * FROM students")

    students = cursor.fetchall()

    print("\nAll Students in Database:")

    for student in students:

        print(student)
 
def main():

    conn, cursor = create_table()
 
    while True:

        print("\nMenu:")

        print("1. Add new student")

        print("2. Update student details")

        print("3. Delete student")

        print("4. View all students")

        print("5. Exit")

        choice = input("Enter your choice: ")
 
        if choice == '1':

            name, roll_number, sap_id, program, semester, marks, result = get_student_input()

            insert_student(cursor, conn, name, roll_number, sap_id, program, semester, marks, result)

        elif choice == '2':

            update_student(cursor, conn)

        elif choice == '3':

            delete_student(cursor, conn)

        elif choice == '4':

            display_all_students(cursor)

        elif choice == '5':

            print("Exiting program...")

            break

        else:

            print("Invalid choice, please enter a valid option.")
 
    conn.close()
 
if __name__ == "__main__":

    main()

Menu:
1. Add new student
2. Update student details
3. Delete student
4. View all students
5. Exit

Enter your choice:  1

Enter student details:

Name:  tejas
Roll Number:  46
SAP ID:  16
Program (e.g., MCA, BTech):  mca
Semester (e.g., 1, 2, 3...):  1
Marks:  66
Result (Pass/Fail):  Pass

Student record inserted successfully!

Menu:
1. Add new student
2. Update student details
3. Delete student
4. View all students
5. Exit

Enter your choice:  2
Enter the roll number of the student you want to update:  1

Student with that roll number not found.

Menu:
1. Add new student
2. Update student details
3. Delete student
4. View all students
5. Exit

Enter your choice:  2
Enter the roll number of the student you want to update:  46

Current data for roll number 46: (1, 'tejas', '46', '16', 'mca', 1, 66, 'Pass')

Which field would you like to update? (marks/result):  marks
Enter the new marks:  88

Student data updated successfully!

Menu:
1. Add new student
2. Update student details
3. Delete student
4. View all students
5. Exit

Enter your choice:  5

Exiting program...