In [4]:
import sqlite3
conn = sqlite3.connect('student.db')
cursor = conn.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS students (
                    name TEXT,
                    roll_number TEXT UNIQUE,
                    sap_id TEXT UNIQUE,
                    program TEXT,
                    semester INTEGER,
                    marks INTEGER,
                    result TEXT CHECK(result IN('Pass','Fail'))
                )''')
conn.commit()

In [6]:

cursor.execute("INSERT INTO students (name, roll_number, sap_id, program, semester, marks, result) VALUES (?, ?, ?, ?, ?, ?, ?)", 
               ('Asap Rockey', 'R12345', 'SAP6789', 'Computer Science', 5, 85, 'Pass'))

cursor.execute("INSERT INTO students (name, roll_number, sap_id, program, semester, marks, result) VALUES (?, ?, ?, ?, ?, ?, ?)", 
               ('Travis Scott', 'R1234', 'SAP689', 'Computer Science', 5, 55, 'Pass'))
conn.commit()

In [8]:
cursor.execute("SELECT * FROM students")
students = cursor.fetchall()
print("Students:",students)

Students: [('Asap Rockey', 'R12345', 'SAP6789', 'Computer Science', 5, 85, 'Pass'), ('Travis Scott', 'R1234', 'SAP689', 'Computer Science', 5, 55, 'Pass')]

In [9]:
cursor.execute("UPDATE students SET marks=?,result=? WHERE roll_number=?",(60,'Pass','R12345'))
conn.commit()

cursor.execute("SELECT * FROM students")
students = cursor.fetchall()
print("Updated Students:",students)

Updated Students: [('Asap Rockey', 'R12345', 'SAP6789', 'Computer Science', 5, 60, 'Pass'), ('Travis Scott', 'R1234', 'SAP689', 'Computer Science', 5, 55, 'Pass')]

In [10]:
cursor.execute("DELETE FROM students WHERE roll_number=?", ('R12345',))
conn.commit()


cursor.execute("SELECT * FROM students")
students = cursor.fetchall()
print("Remaining Students:", students)
conn.close()

Remaining Students: [('Travis Scott', 'R1234', 'SAP689', 'Computer Science', 5, 55, 'Pass')]