In [6]:
import pandas as pd

df = pd.read_csv("Housing (1).csv")
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [9]:
string = input("")

for i in set(string):
    freq = string.count(i)
    print(f"{i} : {freq}")

 ttjas

j : 1
s : 1
a : 1
t : 2

In [13]:
def replace_char(string):
    first_char = string[0]

    new_str = first_char + string[1:].replace(first_char, "$")

    return new_str

input_str = input("")

result = replace_char(input_str)
print(result)

 weeeewew

weeee$e$

In [18]:
string = input("")

val = ""

for i in range(len(string)):
    if(i % 2== 0):
        val += string[i]

print(val)

 tejas

tjs

In [22]:
string = input("")

for i in range(len(string)):
    new = string[-1] + string[1:-1] + string[0]

print(new)

 tejas

sejat

In [26]:
string = input("")
str_rev = string[::-1]
print(str_rev)

 tejas

sajet

In [33]:
word = input("")
word_list = word.split()

long_w = 0
short_w = 0

for word in word_list:
    if len(word) > 6:
        long_w += 1
    else:
        short_w += 1
precent = (long_w/short_w) * 100
print(precent)

 asasaaa aa

100.0

In [35]:
roll_nums = [10,20,30,40, 43]
select = []

for roll in roll_nums:
    if roll % 5 == 0:
        select.append(roll)
res = sorted(select)
print(res)

[10, 20, 30, 40]

In [ ]:
n = int(input("terms"))
n1, n2 = 0, 1
count = 0

if n == 0:
    print("adadad")
else:
    print("Fibo seq")
    while count < n:
        nth= n1 + n2
        n1 = n2
        n2 = nth
        count+1

terms 5

Fibo seq