In [4]:
conn = sqlite3.connect('student.db')
cursor = conn.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS students (
                    name TEXT,
                    roll_number TEXT UNIQUE,
                    sap_id TEXT UNIQUE,
                    program TEXT,
                    semester INTEGER,
                    marks INTEGER,
                    result TEXT CHECK(result IN('Pass','Fail'))
                )''')
conn.commit()

In [21]:
cursor.execute("INSERT INTO students (name, roll_number, sap_id, program, semester, marks, result) VALUES (?, ?, ?, ?, ?, ?, ?)", 

    ('John Doe', 111, 'SAP011', 'B.Tech', 2, 88, 'Pass'))

IntegrityError: UNIQUE constraint failed: students.sap_id

In [22]:
cursor.execute("SELECT * FROM students")
students=cursor.fetchall()
print("Student: ",students)

Student:  [('John Doe', '111', 'SAP011', 'B.Tech', 2, 60, 'Pass')]

In [23]:
cursor.execute("UPDATE students SET marks=?,result=? where roll_number=?",(60,'Pass',111))
conn.commit()
cursor.execute("SELECT * FROM students")
students=cursor.fetchall()
print("updated Student: ",students)

updated Student:  [('John Doe', '111', 'SAP011', 'B.Tech', 2, 60, 'Pass')]

In [25]:
cursor.execute("DELETE from students where roll_number=?",(111,))
conn.commit()
cursor.execute("SELECT * FROM students")
students=cursor.fetchall()
print("After deletion Student: ",students)
conn.close()

After deletion Student:  []

In [1]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('stud.db')
cursor = conn.cursor()

# Create table if it doesn't exist
cursor.execute('''CREATE TABLE IF NOT EXISTS student_records (
                    name TEXT,
                    roll_number TEXT UNIQUE,
                    sap_id TEXT UNIQUE,
                    program TEXT,
                    semester INTEGER,
                    marks INTEGER,
                    result TEXT CHECK(result IN('Pass', 'Fail'))
                )''')
conn.commit()

# Take user input for number of students
num_students = int(input("Enter number of students: "))

for i in range(num_students):
    name = input("Enter name: ")
    roll_number = input("Enter roll number: ")
    sap_id = input("Enter SAP ID: ")
    program = input("Enter program: ")
    semester = int(input("Enter semester: "))
    marks = int(input("Enter marks: "))

    # Assign "Pass" or "Fail" automatically based on marks
    result = "Pass" if marks >= 50 else "Fail"

    # Insert data into the table
    cursor.execute("INSERT INTO student_records (name, roll_number, sap_id, program, semester, marks, result) VALUES (?, ?, ?, ?, ?, ?, ?)", 
                   (name, roll_number, sap_id, program, semester, marks, result))
    conn.commit()
    print(f"Student {name} added successfully!")

# Close the connection
conn.close()

Enter number of students:  1
Enter name:  vbvv
Enter roll number:  a033
Enter SAP ID:  7016
Enter program:  mca
Enter semester:  2
Enter marks:  70

Student vbvv added successfully!